name: E2E tests
on:
  push:
    branches:
      - "main"
  pull_request:
jobs:
  start:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "yarn"
      - name: Cache playwright dependencies
        id: cache-playwright
        uses: actions/cache@v3
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('**/yarn.lock') }}
      - name: Start docker-compose
        run: docker-compose up -d
      - name: Install dependencies
        run: yarn install
      - name: Install playwright dependencies
        if: steps.cache-playwright.outputs.cache-hit != 'true'
        run: npx playwright install --with-deps
      - name: Build packages
        run: yarn build:example
      - name: Fill database
        run: yarn database
      - name: Start server
        run: yarn start:example &
      - name: Run tests
        run: |
          yarn turbo test:e2e 
          BASE_URL=http://localhost:3000/legacy/admin yarn test:e2e
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
